nav
{
    padding: 1rem;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
}

nav a
{
    cursor: pointer;
    text-decoration: none;
}

main
{
    margin-top: 4vh;
}

main h3,main p
{
    text-align: center;
}

main p
{
    margin-top: 2vh;
}

main form
{
    width:30%;
    margin: 8vh auto;
}

main form input
{
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    outline: none;
    border: 1px solid white;
}

main form input:focus
{
    border: 1px solid rgba(0,0,0,0.2);
}

main form button
{
    display: block;
    width: 30%;
    margin: 2vh auto;
    padding: 0.5rem 0.8rem;
    outline: none;
    border: none;
    border-radius: 10px;
    background:rgba(200,20,20,0.7);
    cursor: pointer;
}

main form button:hover
{
    background-color: rgba(200,20,20,1);
    transition: all 200ms ease;
}

#newpassword-msg
{
    width: 60%;
    background-color: blueviolet;
    color: white;
    margin: 0 auto;
    padding: 0.8rem 0.5rem;
    border-radius: 10px;

}

@media screen and (max-width:500px)
{
    main form
    {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width:501px) and (max-width:760px)
{
    main form{
        width:60%
    }
}