<nav>
    <h3>OMS</h3>
    <a class="p-font m-color" [routerLink]="['/signin']">Sign In</a>
</nav>

<main>
    <h3 class="h-font m-color">Forgot Password?</h3>
    <p class="p-font s-color">Send your registered email and we will provide you a new password via email</p>

    <!-- form -->
    <form (ngSubmit)="resetPassword()">
        <input type="email" placeholder="email" [(ngModel)]="email" name="email">
        <button type="submit">Submit</button>
    </form>

    <p id="newpassword-msg" *ngIf="isReset">Your new password is : {{newPassword}}</p>
</main>